@model NorthwindMVC.Models.Category
@{
    Layout = null;
}
<h2>Edit</h2>

<form id="editForm">
    <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
    <div class="form-group">
        <label>Name</label>
        <input name="CategoryName" class="form-control" value="@Model.CategoryName" required />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="Description" class="form-control">@Model.Description</textarea>

    </div>
    <div id="editError" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back</a>
</form>

<script>
$("#editForm").submit(function (e) {
    
    $.post('@Url.Action("Edit","Category")', $(this).serialize(), function (res) {
        if (res.success) {
            location.reload();
        } else {
            $("#editError").text(res.message);
        }
    });
});
</script>