@model IEnumerable<NorthwindMVC.Models.Category>

<h2>Categories</h2>

<button class="btn btn-primary" onclick="openModal('@Url.Action("Create","Category")')">Create New</button>

<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>Name</th><th>Description</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.CategoryID</td>
            <td>@cat.CategoryName</td>
            <td>@cat.Description</td>
            <td>
                <button class="btn btn-primary" onclick="openModal('@Url.Action("Details","Category", new { id=cat.CategoryID })')">Details</button>
                <button class="btn btn-primary" onclick="openModal('@Url.Action("Edit","Category", new { id=cat.CategoryID })')">Edit</button>
                <button class="btn btn-primary"onclick="openModal('@Url.Action("Delete","Category", new { id = cat.CategoryID })')">Delete</button>

            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal Shell -->
<div class="modal fade" id="mainModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalBody"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function openModal(url) {
            $.get(url, function (html) {
                $("#modalBody").html(html);
                $("#mainModal").modal("show");
            });
        }
    </script>
}